---
layout: default
meta_title: Home
meta_description: Lomond Hills Organics, located in Fife
body_class: home
title: Lomond Hills Organics
---

<body class="font-sans text-gray-800">
<!--<div class="w-screen bg-scroll h-vh50 sm:h-vh50 md:h-vh75" style="background-image: url(/assets/images/brand/veg-box-01.jpg); background-size: 100%; background-repeat: no-repeat; background-position: center; "></div>-->
<img class="hidden" alt="a veg box with tomatoes" src="/images/brand/veg-box-01.jpg">
<section class="px-5 md:max-w-xl lg:max-w-xl mx-auto">
    <h1 class="font-extrabold">Lomond Hills Organics<br>weekly CSA veg box</h1>

        <div class="flex text-sm text-gray-500 justify-between">
            <span class="text-black font-bold">1. RESERVE</span>
            <span>2. PAY £100 DEPOSIT</span>
            <span>3. CONFIRM BY EMAIL</span>
        </div>

        <h2 class="text-4xl mt-2 font-bold">Reserve your veg box</h2>
        <span class="text-2xl">by completing the form below</span>

        <h2 class="mb-2 text-3xl">Seven fresh and delicious years</h2>
        <p class="mb-4">For our 7th year we are focusing on fresh and delicious summer vegetables complemented with a healthy portion of staples. You can't beat the taste of locally grown, sun ripened tomatoes and cucumbers</p>
        <p class="mb-4">The team for this year is tripling and the production is doubling</p>

        <img class="" alt="veg box with tomatoes" src="/images/brand/veg-box-01.jpg"/>
    <!--        <img class="" alt="tomatoes on the vine" src="/assets/images/brand/tomatoes.jpg">-->
        <h2 class="mt-8 mb-4 text-3xl">Our season</h2>
        <p class="mb-4"> Our season runs from the 3rd of May through to the end of the second week of October. You will receive a weekly supply of delicious veg for the whole of the season. We will be in touch when we have finalised our delivery & collection days.</p>

        <img class="my-6" alt="tomatoes on the vine" src="/images/brand/tomatoes.jpg">

        <p class="mb-4">Delivery is available in Fife or you can collect your veg from the farm. This is a great opportunity to explore healthy farmland and our pasture. Feeling and hearing the diversity brought by organic farming and perhaps catching a glimpse of swooping swifts, low over the grasses.</p>

        <img class="mt-4 mb-2"alt="swifts swooping through the air" src="/images/brand/swifts.png"/>

        <h2 class="mt-6 mb-4 text-3xl">Key information</h2>
        <ul class="mb-4">
            <li class="mb-4 ml-5 list-disc">We're an established farm – this is our 7th year.</li>
            <li class="mb-4 ml-5 list-disc">Our seasonal veg boxes run for 24 weeks. Starting from 3rd May with the last deliveries mid-October.</li>
            <li class="mb-4 ml-5 list-disc">A £100 deposit secures your veg box</li>
            <li class="mb-4 ml-5 list-disc">6 monthly payments, 1st May - 1st October, are made by standing order</li>
            <li class="mb-4 ml-5 list-disc">We'll email out payment details on completion of the form below</li>
            <li class="mb-4 ml-5 list-disc">If you have any questions please contact vegbox[at]lomondhillsorganics.co.uk</li>
            <li class="mb-4 ml-5 list-disc">Preference will be given to customers who commit to a full season</li>
        </ul>

        <div class="ml-form-embed"
             data-account="2946004:x7p4g7w0x1"
             data-form="3652678:v2i8d6">
        </div>

        <img alt="a veg box" src="/images/brand/veg-box-2.jpg">


        <h2 class="mt-6 mb-4 text-3xl"> Other useful informations:</h2>
        <ul class="mb-4">
            <li class="mb-4 ml-5 list-disc">If you are not going to be at home for delivery or pick up: Sharing is caring and that is the one thing we recommend. Give us instructions and we can deliver the veg box to your neighbour/friend who lives in your neighbourhood.</li>
            <li class="mb-4 ml-5 list-disc">Can I cancel this at any time: this CSA veg box scheme is for dedicated vegetable lovers and those who love to support local economy and small businesses.</li>
            <li class="mb-4 ml-5 list-disc">If you will have serious reason to stop, of course we will not hold you but we ask you now..is this for you?</li>
            <li class="mb-4 ml-5 list-disc">There are around 10 items of vegetables in a box.</li>
            <li class="mb-4 ml-5 list-disc">You can count on potatoes, carrots and onions in most of the weeks. Mixed salad, lettuce or microgreens. Some type of legume (peas,french beans). Leafy greens (spinach, chard or kale) cabbage, cauliflower or broccoli, tomatoes are aimed to be content for most of the season. Radishes, beetroot, courgette, celery, squash, fennel, kohl rabi, swede, broad beans, leek, spring onions.</li>
            <li class="mb-4 ml-5 list-disc">Different kinds of culinary herbs and mix of soft fruits too!</li>
            <li class="mb-4 ml-5 list-disc">The farm is on the Falkland estate about a 1km up the track past organic farm shop and café Pillars of Hercules.</li>
        </ul>

        <h2 class="mt-8 mb-4 text-3xl">CSA</h2>
        <p class="mb-4">The CSA veg box ensures variety and provides staples as well as delicious salads leaves, microgreens, fruits and summer salad vegetables including delicious tomatoes, cucumbers, peppers and more!</p>
        <p class="mb-4">The CSA is a partnership between farmers, members and land. By paying partially now at the start of the growing season you help to pay for seeds and raw materials which grow your veg. By sharing in the risk, you share in the rewards too. This is covered in greater depth here: https://communitysupportedagriculture.org.uk/what-is-csa/</p>

        <div class="ml-form-embed"
             data-account="2946004:x7p4g7w0x1"
             data-form="3652678:v2i8d6">
        </div>

    </section>
</body>