---
layout: default
meta_title: Home
meta_description: Lomond Hills Organics, located in Fife
body_class: home
title: Lomond Hills Organics
---

<body class="font-sans text-gray-800">
<!--<div class="w-screen bg-scroll h-vh50 sm:h-vh50 md:h-vh75" style="background-image: url(/assets/images/brand/veg-box-01.jpg); background-size: 100%; background-repeat: no-repeat; background-position: center; "></div>-->
<img class="hidden" alt="a veg box with tomatoes" src="/images/brand/veg-box-01.jpg">
<section class="px-5 md:max-w-xl lg:max-w-xl mx-auto">
    <h1 class="font-extrabold">Meadowsweet Organics<br>weekly veg box</h1>
    <div class="mb-8 mt-10">
        <div class="flex text-sm text-gray-500 justify-between"><span class="text-black font-bold">1. RESERVE</span><span>2. PAY BY STANDING ORDER</span><span>3. CONFIRM BY EMAIL</span></div>
        <h2 class="text-4xl mt-2 font-bold">Reserve your veg box</h2>
        <span class="text-2xl">by completing the form below</span>
    </div>
    <h2 class="mb-2 text-3xl">Six fresh and delicious years</h2>
    <p class="mb-4">For our 6th year we are focusing on fresh and delicious summer vegetables complemented with a healthy portion of staples. You can't beat the taste of locally grown, sun ripened tomatoes and cucumbers</p>
    <img class="" alt="veg box with tomatoes" src="/images/brand/veg-box-01.jpg">
    <!--        <img class="" alt="tomatoes on the vine" src="/assets/images/brand/tomatoes.jpg">-->
    <h2 class="mt-8 mb-4 text-3xl">Our season</h2>
    <p class="mb-4"> Our season runs from the third week of May (wU+2215c 18th) through to the end of the second week of October (wU+2215c 12th). You will receive a weekly supply of delicious veg for the whole of the season. We will be in touch when we have finalised our delivery & collection days.</p>
    <img class="my-6" alt="tomatoes on the vine" src="/images/brand/tomatoes.jpg">
    <p class="mb-4">Delivery is available in Fife or you can collect your veg from the farm. This is a great opportunity to explore healthy farmland and our pasture. Feeling and hearing the diversity brought by organic farming and perhaps catching a glimpse of swooping swifts, low over the grasses.</p>
    <img class="mt-4 mb-2"alt="swifts swooping through the air" src="/images/brand/swifts.png"/>
    <h2 class="mt-6 mb-4 text-3xl">Key information</h2>
    <ul class="mb-4">
        <li class="mb-4 ml-5 list-disc">We're an established farm – this is our 6th year.</li>
        <li class="mb-4 ml-5 list-disc">Our veg boxes start the third week of May (wU+2215c 18th) and run until the end of the second week of October</li>
        <li class="mb-4 ml-5 list-disc">Payments are made by standing order, which helps us keep the price down.</li>
        <li class="mb-4 ml-5 list-disc">We'll email out payment details on completion of the form below</li>
        <li class="mb-4 ml-5 list-disc">If you have any questions please use the sign up form below and reply, or contact vegbox[at]meadowsweetorganics.co.uk</li>
        <li class="mb-4 ml-5 list-disc">If you don't receive an email within minutes of signing up below check your spam folder and white list vegbox[at]meadowsweetorganics.co.uk</li>
        <li class="mb-4 ml-5 list-disc">You are signing up for a whole season. If you only want a part season we will try to accomodate your needs but preference will be given to those who commit to a full season.</li>
    </ul>
    <img alt="a veg box" src="/images/brand/veg-box-2.jpg">
</section>
</body>